
@{
    ViewBag.Title = "About Doctors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AboutDoctors</h2>

<div id="BaseDiv">
    <div id="FotoDoctors" class="Foto Doctors">
        <img id="doc01" class="fotoDoctor" src="~/Foto/doc01.jpg" alt="Terapeut Boris" onclick="ChangeText('#dinfo01')" onmouseover="BorderImg(id)" onmouseout="NoBorderImg(id)">
        <img id="doc02" class="fotoDoctor" src="~/Foto/doc02.jpg" alt="Reanimatolog Ana" onclick="ChangeText('#dinfo02')" onmouseover="BorderImg(id)" onmouseout="NoBorderImg(id)">
        <img id="doc03" class="fotoDoctor" src="~/Foto/doc03.jpg" alt="Oftalmolog Viorel" onclick="ChangeText('#dinfo03')" onmouseover="BorderImg(id)" onmouseout="NoBorderImg(id)">
        <img id="doc04" class="fotoDoctor" src="~/Foto/doc04.jpg" alt="Chirurg Alexei" onclick="ChangeText('#dinfo04')" onmouseover="BorderImg(id)" onmouseout="NoBorderImg(id)">
    </div>

       
            <script src="~/scripts/aboutJavaScript.js"></script>
      

    
    <div id="InfoDoctors" class="Info Doctors">
        <div class="fotoDoctorTextHidden" id="dinfo01">
            <img class="fotoDoctorText" src="~/Foto/doc01.jpg">
            <h4>Doris K. Cope, MS, MD</h4>
            <p> <em>Anesthesiology and Pain Medicine, Kure Pain Management</em></p>
            <p>
                Dr. Cope is double board certified in anesthesiology and pain medicine, a life member of the Academy of Anesthesiology and has been listed among the “Best Doctors in America” every year since 1998. She is one of the top pain doctors in
                the United States and has been featured on national television, radio and in numerous magazines and newspapers. Dr. Cope led one of the preeminent and largest pain medicine programs in the country at the University of Pittsburgh Medical
                Center (UPMC), serving as a professor in the department of anesthesiology. She has written dozens of articles and abstracts on anesthesiology, chronic pain and pain medicine in top medical journals and has authored pain chapters and
                textbooks. Dr. Cope is a long-time member of the American Society of Anesthesiologists committee on Pain Medicine. She is currently in private pain practice in Annapolis and is the President-Elect of the Anne Arundel Medical Society.
            </p>
        </div>
        <div class="fotoDoctorTextHidden" id="dinfo02">
            <img class="fotoDoctorText" src="~/Foto/doc02.jpg">
            <h4>Donald Peck Leslie, MD</h4>
            <p> <em>Medical Director, Shepherd Center;<br />Clinical Professor, Emory University School of Medicine</em></p>
            <p>
                Dr. Leslie is the Medical Director of Shepherd Center and clinical professor at the Emory University School of Medicine. Prior to this appointment, he served for ten years as Associate Medical Director of Shepherd Center and Medical Director
                for Brain Injury Services. A graduate of Vanderbilt University in Nashville, Tenn., with a Bachelor’s of Arts and Science degree, Dr. Leslie attended medical school at the University of Tennessee in Memphis. He completed his postgraduate
                residency training in internal medicine at the Mayo Clinic in Rochester, Minnesota.
            </p>
            <p>
                He founded and co-developed the Acquired Brain Injury Program, serves on multiple boards and is a member of many associations. Dr. Leslie is a diplomat of the American Academy of Physical Medicine and Rehabilitation and was elected a Fellow
                in the Academy, where he also serves as Board Examiner. He also serves on the Physician Advisory Board for the Medtronics Corporation in Minneapolis. His memberships include: the American Spinal Injury Association; the International
                Spinal Cord Society; the Atlanta Post Polio Association; the American College of Physician Executives; the Medical Association of Georgia; the Medical Association of Atlanta; the Mayo Clinic Society; the Vanderbilt Commodores Society;
                and the Georgia Board of Peer Review.
            </p>
            <p>
                He has served on the Board of Directors for the Brain Injury Association of Georgia, as well as the co-Medical Director of the Georgia Model Brain Injury System (GAMBIS) for the TBI Model Systems Grant. Dr. Leslie served on the Board of
                Directors for the Paralympics.
            </p>
        </div>
        <div class="fotoDoctorTextHidden" id="dinfo03">
            <img class="fotoDoctorText" src="~/Foto/doc03.jpg">
            <h4>John M. Oldham, MD, MS</h4>
            <p><em>Senior Vice President and Chief of Staff The Menninger Clinic;<br />Barbara and Corbin Robertson Jr. Endowed Chair for Personality Disorders;</br>Professor and Executive Vice Chair, Menninger Department of Psychiatry and Behavioral Sciences, Baylor College of Medicine</em></p>
            <p>
                Dr.Oldham leads the medical staff and oversees research at Menninger, and also oversees clinical care at Baylor College of Medicine, including the public psychiatry division of Harris County Hospital District and The Baylor Psychiatry
                Clinic.An expert in personality disorders and recognized internationally as a leader in psychiatric medicine, Dr.Oldham is board certified in psychiatry, psychoanalysis and forensic psychiatry.Throughout his career, Dr.Oldham has been
                active in the American Psychiatric Association and is a past president of the organization.Before joining Menninger in 2007, he served as professor and chairman of Psychiatry & Behavioral Sciences and executive director of the Institute
                of Psychiatry at the Medical University of South Carolina.
            </p>
        </div>
        <div class="fotoDoctorTextHidden" id="dinfo04">
            <img class="fotoDoctorText" src="~/Foto/doc04.jpg">
            <h4>Martin Samuels, MD, DSc (hon), FAAN, MACP, FRCP, FANA</h4>
            <p><em>Chairman, Department of Neurology, Brigham and Women’s Hospital<br />Professor, Harvard Medical School</em></p>
            <p>
                In 1988, Dr. Samuels was recruited to the Brigham and Women's Hospital to create a Department of Neurology from a small division in the department of medicine. In 1994, the department was formally instituted, with Dr. Samuels as its founding
                chair. Since its launch, the relatively new department has grown to include over 250 academic appointments, including 16 full professors, six with endowed chairs, at the Harvard Medical School. In addition to serving as chairman of
                the department, Samuels maintains an active clinical practice at the Brigham and Women's Hospital, seeing patients with complex neurological problems. He serves regularly as the attending neurologist for inpatient and consultation
                services at the Brigham. For his clinical accomplishments, Dr. Samuels has been honored with Fellowship in the American Neurological Association, Fellowship in the American Academy of Neurology, Fellowship in the American Neurological
                Association, Fellowship in the Royal College of Physicians (London) and Mastership in the American College of Physicians. He has been the discusser in 12 New England Journal of Medicine Clinical Pathology Conferences—the most ever
                discussed by a single person. Dr. Samuels received his Bachelor of Arts degree in biology from Williams College in Williamstown, Massachusetts. In 1971 he received his Doctor of Medicine degree from the University Of Cincinnati College
                Of Medicine.
            </p>
        </div>
    </div>
</div>

